/* reset */
html{
  box-sizing: border-box;
  font-family: 'Gilroy';
}

html *, ::after, ::before{
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #ffffff;
  gap: 40px;
}

/* style */

body {
  background-color:#E5E5E5;
}
.hero{
  padding-top: 306px;
  background: url(/images/Rectangle\ 26\ \(1\).jpg);
  background-repeat: no-repeat;
  
}
.heads2{
  background: url(/images/Rectangle\ 26\ \(1\)\ копія.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 136px;
}
/* main html */

header {
  position: absolute;
  top: 0;
  left: 0;

  padding: 30px 0;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  
}


/* container */

.container {
  max-width: 1296px;
  margin: 0 auto;
}
/* nav-menu */

.icon{
  width: 10px;
  height: 10px;
  background-color: #E5E5E5;
  opacity: 0.3;

  transform: translate(-200%, -50%) ;
  position: absolute;
  top: 50%;
  
  transition-duration: 250ms;
}
.nav-menu-item:hover .icon{
  transform: translate(0, -50%) ;
  
  transition-duration: 250ms;
}


.nav-menu {
  display: flex;
  margin-left: 124px;
  gap: 40px;

  position: relative;

}
.header{
  width: 100%;
  display:flex;
  align-items: center;
}

/* block html */
.boxs {
  max-width: 1040px;

}


.h1{
  width: 636px;
  margin-bottom: 338px;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #FFFFFF;
}
.head-div-ul{
  display: flex;
  gap:12px ;

}
.haed-li-button{
  width: 315px;
  
  background-color: #8D86C9;
  border: none;
  color: #ffffff;
  text-align: start;
  justify-content: center;
}
.head-button-p{
  margin: 35px 224px 17px 35px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
}
.head-button-h4{
  margin: 0 0 40px 35px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
}




/* foto */
.beck{
  padding: 150px ;
}
.foto img{
  display: block;
}
.foto{
  display: flex;
  justify-content: center;
  gap: 24px;

}
.foto-item{
  border: 1px solid #F7ECE1; 
  padding: 25px 20px;
}



/* sport */
span{
  padding-top: 24px;
}
.sport-img{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% + 86px), -50%);

}
.sport-li-item{
  position: relative;
}
.sport-space{
  position: relative; 
  width:636px ;
  background-color:#F7ECE1; 
  margin:  0 422px 0 auto;
  
  color: #333333;
  line-height: 1.4;
  padding: 70px 60px 80px 146px;
}
.sport-h1 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
}
.sport-p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 35px;
}
.sport-h2 {
  font-weight: 600;
font-size: 21px;
margin-bottom: 25px;
}
.sport-ul {
  font-weight: 400;
font-size: 14px;
width: 400px;
}
.sport-li-p{
  padding-bottom: 20px;
}
.con{
  width: 10px;
  height: 10px;
  background-color: #8D86C9;
  position: absolute;

  transform: translateX(-100%) ;
  top: 6px;
  left: -23px;
}




/* coach */
.h2-coach{
  color:#333333 ;
  padding-bottom: 75px;
font-weight: 700;
font-size: 36px;
line-height: 1.4; 
}
.ul-couch{
  color:#333333 ;
  display: flex;
  gap: 24px;
  line-height: 1.4;
}
.coach-item-img{
  border: 1px solid #F7ECE1; 
  padding: 0 15px;
}
.coach-item-p{
  text-align: center;
  width: 196px;
font-weight: 400;
font-size: 14px;
}
.coach-item-h3{
  text-align: center;
  font-weight: 600;
  font-size: 21px;
width: 196px;
margin: 25px 0 15px 0;
}

/* Ціни й абонементи */
.cost{
  padding-top: 170px;
}
.div-cost{
  width: 526px;
}
.ul-button{
  padding-top: 75px;
  padding-bottom:151px ;
}
.h2-cost{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  color: #333333;
} 
.button{
  display: block;
  width: 100%;
  background-color:#8D86C9 ;
  border: none;
  color: #ffffff;
  padding: 15px;
  cursor: pointer;
font-weight: 600;
font-size: 21px;
line-height: 1.4;
}
.ul-button-item + .ul-button-item{
  margin-top: 31px;
}


/* услуги-div */
.ulygi{
  padding-left: 104px;
}
.cost-div{
  display: flex;
}
.div-button{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 75px;
}
.ulygi-title{
  padding: 0;
  color:#333333 ;
  font-weight: 700;
font-size: 36px;
}
.ulygi-photo{
  border: 1px solid #F7ECE1;
  padding: 30px 25px;
}
.cafe{
  position: relative;
  width: 586px;
  height: 270px;
  background-position:center ;
  background-size:contain ;
  background: url('../images/Rectangle\ 39-2\ \(1\).jpg');
}
.cafe-h5{
  position: absolute;
bottom: 30px;
left: 40px;
font-weight: 700;
  font-size: 27px;
  line-height: 1.4;
  color: #FFFFFF;
}
.ulygi-ul{
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  gap: 15px;
}
.ulygi-button{
  background-color: #8D86C9;

  border: none;
  display: block;
  padding: 22.5px;
  cursor: pointer;
}




/* footer */
.footer {
  display: flex;
  align-items: center;
  background-color:#F7ECE1 ;
  height: 96px;
}
.nav2-menu{
  display: flex;
  margin-left: 104px;
  gap: 40px;
}
.nav2-menu-item{
  display: inline-block;
}
.link2{
  color: #333333;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}
.footer-p{
  color: #333333;
  opacity: 0.3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}



/* BOLOK */
/* news */
.news{
  color: #ffffff;
font-weight: 700;
font-size: 48px;
line-height: 1.4;
text-align: center;
padding-left: 30px;
padding-bottom: 60px;
padding-top: 30px;
}
.ul-list{
  display: flex; 
  flex-wrap:wrap ;
  gap: 24px;
  margin:80px auto 120px auto;
}
.div-img-list{
  position: relative;
  overflow: hidden;
}
.div-lorem{
  background-color: #356494;
  position: absolute;
  
  transition-duration: 400ms;
  opacity: 0.8;
  color: #FFFFFF;

  width: 296px;
  height: 225px;
  left: 20px;
  
}
.p-lorem{
  font-size: 26px;
  padding: 15px 20px 0 20px ;
}
.list:hover .div-lorem{
  transform: translate(0%, -100%) ;
}
.img-list{
  display: block;
  width: 100%;
}
.p-list{
  color: #333333;
  padding-top: 25px;
  padding-bottom: 15px;
  opacity: 0.5;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}
.h4-list{
  color: #333333;
  padding-bottom: 20px;

font-weight: 600;
font-size: 21px;
line-height: 1.4;
}
.button-list{
  width: 137px;
  padding: 10px 20px;
  margin-top: 20px;

font-weight: 600;
font-size: 18px;
line-height: 1.4;
cursor: pointer;

color: #FFFFFF;
background: #8D86C9;
border:none;

}
.button-list1{
  margin-top: 49px;

}

.list{
  padding: 30px 40px;
  border: 1px solid #F7ECE1;
  width: 416px;
}
