:root{
  --bg-color: #E5E5E5;
  --text-color:#ffffffff;
  --accent-color: #8D86C9;
  --border-color:#F7ECE1;
  --text-color2:#333333;
}




/* reset */
html{
  box-sizing: border-box;
  font-family: 'Gilroy';
}

html *, ::after, ::before{
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color:var(--text-color);
  gap: 40px;
}

/* style */

body {
  background-color:var(--bg-color);
}
.hero{
  padding-top: 306px;
  background: url(../images/backf.jpg);
  background-repeat: no-repeat;
  
}
.heads2{
  background: url(../images/back2.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 136px 0 60px; 

}
.heads3{
  background: url(../images/back3.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 136px 0 60px; 
}
/* main html */

header {
  position: absolute;
  top: 0;
  left: 0;

  padding: 30px 0;
  border-bottom: 1px solid var(--text-color);
  width: 100%;
  
}


/* container */

.container {
  max-width: 1296px;
  margin: 0 auto;
}
/* nav-menu */
.logo{
  display: block;
  width: 153px;
  height: 46px;
}
.icon{
  width: 10px;
  height: 10px;
  background-color: var(--bg-color);
  opacity: 0.3;

  transform: translate(-200%, -50%) ;
  position: absolute;
  top: 50%;
  
  transition-duration: 250ms;
}
.nav-menu-item:hover .icon{
  transform: translate(0, -50%) ;
  
  transition-duration: 250ms;
}

.nav{
  margin-left: 124px;
  display: flex;
  align-items: center;
  gap:125px ;
  
}
.nav-menu {
  display: flex;
  gap: 40px;

  position: relative;
}
.header{
  width: 100%;
  display:flex;
  align-items: center;
}
.svg-header{
  display: flex;
  gap: 20px;
  
}
.a-svg-header{
  display: block;
  width: 36px;
  height: 36px; 
  fill: var(--text-color); 
}

/* block html */
.boxs {
  max-width: 1040px;
}


.h1{
  width: 636px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color:var(--text-color);
}
.head-div-ul{
  display: flex;
  gap:12px ;

}
.head-buttom{
  position: relative;
}
.haed-li-button{
  width: 315px;

  background-color: var(--accent-color);
  border: none;
  color: var(--text-color);
  text-align: start;
  justify-content: center;
  padding: 35px 0 40px 35px;
}
.haed-li-button::after{
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../images/Vector-3-2.svg);
  position: absolute;
  right: 40px;
  bottom: 54px;

}
.head-button-p{
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
}
.head-button-p4{
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
}

/* SVG-haeder */

.div-svg{
  display: flex;
  gap: 30px;
  margin-bottom: 202px;
}

.button-svg{
  position: relative;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--accent-color);

}
.button-svg::before{
  content: '';
  position: absolute;
  top: -8px;
  bottom:-8px ;
  left: -8px;
  right: -8px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--text-color);
  transform: scale(1);
}
.button-svg:hover::before{
  transform: scale(0.9);
  transition-duration: 20ms;
}
.svg{
  display: block;
  width: 20px;
  height: 16px;
  position: absolute;
  top: 22px;
  left: 24px;
}
.p-svg{
  width: 158px;
  font-weight: 600;
font-size: 18px;
line-height: 1.4;
color: var(--text-color);
}

/* foto */
.foto-item{
  position: absolute;
  color: var(--text-color);
  bottom: 40px;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.4;
  text-align: center;
  bottom: 40px;
  left: 75px;
}
.foto-item2 h3{
  left: 0;
}
.foto-item1{
  width: 374px;
  height: 448px;
  background: url(../images/img1.jpg);
  
  position: relative;
  
}
.foto-item2{
  width: 374px;
  height: 448px;
  background: url(../images/img2.jpg);
  
  position: relative;
  
}
.foto-item3{
  width: 374px;
  height: 448px;
  background: url(../images/img3.jpg);
  
  position: relative;
}
.item-li{
  border: 1px solid var(--border-color);
  padding: 25px 20px;
}

.beck{
  padding: 150px 0 ;
}
.foto img{
  display: block;
}
.foto{
  display: flex;
  justify-content: center;
  gap: 24px;
  
}




/* sport */
span{
  padding-top: 24px;
}
.sport-img{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% + 86px), -50%);

}
.sport-li-item{
  position: relative;
}
.sport-space{
  position: relative; 
  width:636px ;
  background-color:var(--border-color); 
  margin:  0 109px 0 auto;
  
  color: var(--text-color2);
  line-height: 1.4;
  padding: 70px 60px 80px 146px;
}
.sport-h1 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
}
.sport-p {
  font-weight: 400;
  font-size: 14px;
  
}
.sport-h2 {
  font-weight: 600;
font-size: 21px;
margin-bottom: 25px;
}
.sport-ul {
  font-weight: 400;
font-size: 14px;
width: 400px;
}
.sport-li-p{
  margin-bottom: 20px;
}
.sport-li-p-last{
  margin-bottom: 0;
}
.sport-li-item::before{
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--accent-color);
  position: absolute;

  top: 6px;
  left: -33px;
}



/* coach */
.coach{
  margin-top: 150px 0; 
}
.coach-container{
  position: relative;
  margin-top: 150px;
}
.svg-coach-button{
  position: relative;
}
.coach-ul-button{
  display: flex;
  gap: 15px;
  position: absolute;
  top: 0px;
  right:0px;
}
.svg-coach{
  display: block;
  width: 31px;
  height: 31px;
  position: absolute;
  top: 10px;
  left: 10px;
  fill: var(--text-color);
}
.div2-coach{
  border: 1px solid var(--border-color); 
  padding: 0 15px;
}
.h2-coach{
  color:var(--text-color2) ;
  margin-bottom: 75px;
font-weight: 700;
font-size: 36px;
line-height: 1.4; 
}
.ul-couch{
  color:var(--text-color2) ;
  display: flex;
  gap: 24px;
  line-height: 1.4;
}
.coach-item-img{
  display: block;
}
.coach-item-p{
  text-align: center;
  width: 196px;
font-weight: 400;
font-size: 14px;
}
.coach-item-h3{
  text-align: center;
  font-weight: 600;
  font-size: 21px;
width: 196px;
margin: 25px 0 15px 0;
}

/* Ціни й абонементи */
.cost{
  margin-top: 170px;
}
.div-cost{
  width: 526px;
}
.ul-button{
  margin-top: 75px;
}
.h2-cost{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  color: #333333;
} 
.button{
  display: block;
  width: 100%;
  background-color:var(--accent-color) ;
  border: none;
  color: var(--text-color);
  padding: 15px;
  cursor: pointer;
font-weight: 600;
font-size: 21px;
line-height: 1.4;
position: relative;
text-align: left;
}
.button::after{
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../images/row-left.svg);
  transform: rotate(180deg);
  top: 15px;
  right: 30px;
  
}
.ul-button-item + .ul-button-item{
  margin-top: 31px;
}
.ul-button-item{
  position: relative;
}


/* услуги-div */
.ulygi{
  margin-left: 104px;
  position: relative;
}
.cost{
  padding-bottom: 150px;
}
.cost-div{
  display: flex;
}
.div-button{
  display: flex;
  align-items: center;
  margin-bottom: 75px;
  position: relative;
  padding: 0 ;
}
.ulygi-svg{
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  fill: var(--text-color);
  
}

.ulygi-title{
  padding: 0;
  color:#333333 ;
  font-weight: 700;
font-size: 36px;
margin-bottom: 75px;
}
.ulygi-photo{
  border: 1px solid var(--border-color);
  padding: 30px 25px;
}
.cafe{
  position: relative;
  width: 584px;
  height: 268px;
  background-position:center ;
  background-size:contain ;
  background: url(../images/cafe.jpg);
}
.cafe-h5{
  position: absolute;
bottom: 30px;
left: 40px;
font-weight: 700;
  font-size: 27px;
  line-height: 1.4;
  color: var(--text-color);
}
.ulygi-ul{
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  gap: 15px;
}
.ulygi-button{
  background-color: var(--accent-color);
position: relative;
  border: none;
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;
}




/* footer */
.footer.container{
  display: flex;
  align-items: center;

}
.footer{
  padding: 19px 0;
  background-color:var(--border-color) ;
}
.nav2{
  margin-left: 104px;
  display: flex;
  align-items: center;
  gap: 107px;
  
}
.nav2-menu{
  display: flex;
  gap: 40px;
  position: relative;
}
.nav2-menu-item{
  display: inline-block;
}
.link2{
  color: var(--text-color2);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}
.footer-p{
  color: var(--text-color2);
  opacity: 0.3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}
.svg-footer{
  display: flex;
  gap: 20px;
}
.a-svg-footer{
  display: block;
  width: 36px;
  height: 36px;  
  fill: var(--accent-color);
}



/* BOLOK */
/* news */
.news{
  color:var(--text-color);
font-weight: 700;
font-size: 48px;
line-height: 1.4;
text-align: center;


}
.sec-list{
  padding-top:80px ;
  padding-bottom: 120px;
}
.ul-list{
  display: flex; 
  flex-wrap:wrap ;
  gap: 24px;
  
}
.div-img-list{
  position: relative;
  overflow: hidden;
}
.div-lorem{
  background-color: #356494;
  position: absolute;
  
  transition-duration: 400ms;
  opacity: 0.8;
  color: var(--text-color);

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%) ;
}
.p-lorem{
  font-size: 26px;
  padding: 15px 20px 0 20px ;
}
.list:hover .div-lorem{
  transform: translateY(0%) ;
}
.img-list{
  display: block;
  width: 100%;
}
.p-list{
  color: var(--text-color2);
  margin: 25px 0 15px;
  opacity: 0.5;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}
.h4-list{
  color: var(--text-color2);
  margin-bottom: 20px;

font-weight: 600;
font-size: 21px;
line-height: 1.4;
}
.button-list{
  width: 137px;
  padding: 10px 20px;
  

font-weight: 600;
font-size: 18px;
line-height: 1.4;
cursor: pointer;

color: var(--text-color);
background: var(--accent-color);
border:none;

}
.button-list1{
  margin-top: 49px;

}

.list{
  padding: 30px 40px;
  border: 1px solid var(--border-color);
  width: 416px;
}


/* ABOUT 3-PAG */

/* club */
.img-border{
  padding: 25px 20px;
  border: 1px solid var(--border-color);
}
.club-container{
  position: relative;
  margin-top: 150px;
}
.club-img{
  height: 450px;
  position: relative;
  background-image: url('../images/img-about.jpg');
}
.btn{
  width: 145px;
  padding: 10px 20px;
  position: absolute;
  bottom: 40px;
  left: 50px;

font-weight: 600;
font-size: 18px;
line-height: 1.4;
cursor: pointer;

color: var(--text-color);
background:var(--accent-color);
border:none;
}
.h1-club{
  color: var(--text-color2);
  font-weight: 700;
font-size: 36px;
line-height: 1.4;
margin-bottom: 60px;

}


/* club2 */
.club2-sek{
  padding-bottom: 150px;
}
.h1-club2{
  color:var(--text-color2);
  font-weight: 700;
font-size: 36px;
line-height: 1.4;
margin:150px 0 60px ;
}  
.club2{
  position: relative; 
  width: 856px;
  background-color:var(--border-color);
  color: var(--text-color2);
  line-height: 1.4;
  padding: 70px 60px 90px 146px;
}
.club2-img{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% + 86px), -50%);
}
.club2-h1{
  width: 650px;
  margin-bottom: 25px;
  font-weight: 700px;
  font-size: 36px;
}
.club2-p{
  font-weight: 400;
  font-size: 14px;
}
.club2 p + p {
  margin-top: 25px;
}
.ul-club2{
  display: flex;
  gap: 87px;
  justify-content: space-between;
  margin-top:58px ;
  padding-left: 47px;

  font-weight: 700;
  font-size: 14px;
}
.ul-club2-p{
  font-weight: 700;
font-size: 14px;
line-height: 1.4;
}
.club2 li{
  position: relative;
  min-width: 124px;
}
.seven::before{
  content: '';
  width: 30px;
  height: 45px;
  background-image: url('../images/seven.svg');
  position: absolute;
  top: -5px;
  left: -47px;
}
.four::before{
  content: '';
  width: 30px;
  height: 45px;
  background-image: url('../images/four.svg');
  position: absolute;
  top: -5px;
  left: -47px;
}
.three::before{
  content: '';
  width: 32px;
  height: 46px;
  background-image: url('../images/three.svg');
  position: absolute;
  top: -5px;
  left: -47px;
}

/* ruls */
/* first part */
.ruls{
  padding-bottom: 120px;
}
.ruls-h1{
  font-weight: 700;
font-size: 36px;
line-height: 1.4;
color: var(--text-color2);
margin-bottom:80px ;
}
.ruls-flekx{
  display: flex;
  gap: 74px ;
}
.ruls-ul{
  font-weight: 600;
font-size: 21px;
line-height: 1.4;
color: var(--text-color2);
width: 336px;
}
.ruls-ul li+li{
  margin-top: 40px;
}
.ruls-ul-3{
  color:var(--accent-color);
  margin-left:30px ;
}
/* second part */
.fuls-3{
  margin-left: 100px;
}
.p-ruls{
  font-weight: 600;
font-size: 18px;
line-height: 1.4;
color: var(--text-color2);
margin: 40px 0 25px;
}
.p-ruls-top{
  margin-top: 0;
}
.ul-ruls li+li{
  margin-top: 24px;
  position: relative;
}
.ul-ruls{
  position: relative;
}
.ul-ruls li::before{
  content: '';
  width: 15px;
  height: 3px;
  background-color: var(--accent-color);
  position: absolute;
  top: 8px;
  left: -25px;
}
.p-ruls-p{
  margin-bottom: 25px ;
}